# Collection of useful Atom editor snippets which allow for autocompletion
# of frequently used text.
#
# Includes GitHub Flavored Markdown (GFM), providing ability to format links
# and other markdown.
#
# Comment section below this is the default file explanation of snippets
# included with Atom.
#
################################
# Your snippets
#
# Atom snippets allow you to enter a simple prefix in the editor and hit tab to
# expand the prefix into a larger code block with templated values.
#
# You can create a new snippet in this file by typing "snip" and then hitting
# tab.
#
# An example CoffeeScript snippet to expand log to console.log:
#
# '.source.coffee':
#   'Console log':
#     'prefix': 'log'
#     'body': 'console.log $1'
#
# Each scope (e.g. '.source.coffee' above) can only be declared once.
#
# This file uses CoffeeScript Object Notation (CSON).
# If you are unfamiliar with CSON, you can read more about it in the
# Atom Flight Manual:
# http://flight-manual.atom.io/using-atom/sections/basic-customization/#_cson

# GFM snippets
# New snippets of this type need to be "nested" underneath the `.gfm.source`
# using spaces.
'.text.md, .source.gfm':

# Roberts Lab resources links
  'Genomic Resources Wiki':
    'prefix': 'GenResWiki'
    'body': '[Genomic Resources wiki](https://github.com/RobertsLab/resources/wiki/Genomic-Resources)'

# Animal genus and species with links to corresponding Wikipedia links.
  'Chionoecetes bairdi':
    'prefix': 'Chionoecetes bairdi'
    'body': '[_Chionoecetes bairdi_ (Tanner crab)](http://en.wikipedia.org/wiki/Chionoecetes_bairdi)'

  'Chionoecetes opilio':
    'prefix': 'Chionoecetes opilio'
    'body': '[_Chionoecetes opilio_ (Snow crab)](https://en.wikipedia.org/wiki/Chionoecetes_opilio)'

  'Crassostrea gigas':
    'prefix': 'Crassostrea gigas'
    'body': '[_Crassostrea gigas_ (Pacific oyster)](http://en.wikipedia.org/wiki/Pacific_oyster)'

  'Crassostrea virginica':
    'prefix': 'Crassostrea virginica'
    'body': '[_Crassostrea virginica_ (Eastern oyster)](https://en.wikipedia.org/wiki/Eastern_oyster)'

  'Eastern oyster':
    'prefix': 'Eastern oyster'
    'body': '[Eastern oyster (_Crassostrea virginica_)](https://en.wikipedia.org/wiki/Eastern_oyster)'

  'Ostrea lurida':
    'prefix': 'Ostrea lurida'
    'body': '[_Ostrea lurida_ (Olympia oyster)](http://en.wikipedia.org/wiki/Pacific_oyster)'

  'Olympia oyster':
    'prefix': 'Olympia oyster'
    'body': '[Olympia oyster (_Ostrea lurida_)](http://en.wikipedia.org/wiki/Pacific_oyster)'

  'Pacific geoduck':
    'prefix': 'Pacific geoduck'
    'body': '[Pacific geoduck (_Panopea generosa_)](http://en.wikipedia.org/wiki/Geoduck)'

  'Pacific oyster':
    'prefix': 'Pacific oyster'
    'body': '[Pacific oyster (_Crassostrea gigas_)](http://en.wikipedia.org/wiki/Pacific_oyster)'

  'Panopea generosa':
    'prefix': 'Panopea generosa'
    'body': '[_Panopea generosa_ (Panopea generosa)](http://en.wikipedia.org/wiki/Geoduck)'

  'Tanner crab':
    'prefix': 'Tanner crab'
    'body': '[Tanner crab (_Chionoecetes bairdi_)](http://en.wikipedia.org/wiki/Chionoecetes_bairdi)'

# Software links
  'Bismark link':
    'prefix': 'Bismark'
    'body': '[`Bismark`](https://github.com/FelixKrueger/Bismark)'

  'BLAST link':
    'prefix': 'BLAST'
    'body': '[`BLAST`](https://www.ncbi.nlm.nih.gov/books/NBK279690/)'

  'Bowtie2 link':
    'prefix': 'Bowtie2'
    'body': '[`bowtie2`](https://github.com/BenLangmead/bowtie2)'

  'Circos link':
    'prefix': 'Circos'
    'body': '[Circos](http://circos.ca/)'

  'Cutadapt link':
    'prefix': 'cutadapt'
    'body': '[`cutadapt`](https://cutadapt.readthedocs.io/en/stable/index.html)'

  'Fastp link':
    'prefix': 'fastp'
    'body': '[`fastp`](https://github.com/OpenGene/fastp)'

  'FastQC link':
    'prefix': 'fastqc'
    'body': '[`FastQC`](https://www.bioinformatics.babraham.ac.uk/projects/fastqc/)'

  'MultiQC link':
    'prefix': 'MultiQC'
    'body': '[`MultiQC`](https://multiqc.info/)'

  'HISAT2 link':
    'prefix': 'HISAT2'
    'body': '[`HISAT2`](https://daehwankimlab.github.io/hisat2/)'

  'Nightingales link':
    'prefix': 'Nightingales'
    'body': '[`Nightingales`](https://b.link/nightingales) (Google Sheet)'

  'STAR link':
    'prefix': 'STAR'
    'body': '[`STAR`](https://github.com/alexdobin/STAR)'

  'TrimGalore link':
    'prefix': 'TrimGalore'
    'body': '[`TrimGalore`](https://github.com/FelixKrueger/TrimGalore)'

  'StringTie link':
    'prefix': 'StringTie'
    'body': '[`StringTie`](https://ccb.jhu.edu/software/stringtie/)'

  'Trinity wiki link':
    'prefix': 'Trinity'
    'body': '[`Trinity`](https://github.com/trinityrnaseq/trinityrnaseq/wiki)'
